## Exercises Strings

In [1]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
my_string2 = "In %s, someone paid %s %s for two pizzas."
my_string3 = "In {}, someone paid {} {} for two pizzas."
my_other_string = "Poor guy!"

In [2]:
print(my_string[-1])

.

In [3]:
print(my_string[7])

,

In [4]:
print(my_string[-10])

w

In [5]:
print(my_string.index("B"))

26

In [6]:
print(my_string.count("o"))

5

In [7]:
print(my_string.upper())

IN 2010, SOMEONE PAID 10K BITCOIN FOR TWO PIZZAS.

In [8]:
print(my_string.find("Bitcoin"))

26

In [9]:
print(my_string.startswith("X"))

False

In [10]:
print(my_string.swapcase())

iN 2010, SOMEONE PAID 10K bITCOIN FOR TWO PIZZAS.

In [11]:
print(my_string.replace(" ", ""))

In2010,someonepaid10kBitcoinfortwopizzas.

In [12]:
print(my_string.replace("i", "--"))

In 2010, someone pa--d 10k B--tco--n for two p--zzas.

In [13]:
print(my_string.split(","))

['In 2010', ' someone paid 10k Bitcoin for two pizzas.']

In [14]:
print("&".join(my_string))

I&n& &2&0&1&0&,& &s&o&m&e&o&n&e& &p&a&i&d& &1&0&k& &B&i&t&c&o&i&n& &f&o&r& &t&w&o& &p&i&z&z&a&s&.

In [15]:
print(my_string + ' ' + my_other_string)

In 2010, someone paid 10k Bitcoin for two pizzas. Poor guy!

In [16]:
print(my_string.title())

In 2010, Someone Paid 10K Bitcoin For Two Pizzas.

In [17]:
print(my_string2 % ("2010", "10k", "Bitcoin"))

In 2010, someone paid 10k Bitcoin for two pizzas.

In [18]:
print(my_string3.format("2010", "10k", "Bitcoin"))

In 2010, someone paid 10k Bitcoin for two pizzas.

In [19]:
print(my_string[3:7])

2010

In [20]:
print(my_string[-23:-16])

Bitcoin

In [21]:
print(my_string[:12])

In 2010, som

In [22]:
print(my_string[-9:])

o pizzas.

In [23]:
print(my_string[::-1])

.sazzip owt rof nioctiB k01 diap enoemos ,0102 nI

In [24]:
print(my_string[::7])

I,n top

In [25]:
print(my_string[10:])

omeone paid 10k Bitcoin for two pizzas.

In [26]:
print(my_string[:-4])

In 2010, someone paid 10k Bitcoin for two piz

## Exercises Numbers

In [27]:
num1 = 25
num2 = float(num1)
print(type(num2))

<class 'float'>

In [28]:
num1 = 13.67
num2 = int(num1)
print(type(num2))

<class 'int'>

In [29]:
num1 = 25
num2 = 8
num3 = num1 % num2
print(num3 == 1)

True

In [30]:
num1 = 10
num2 = 3
num3 = num1 ** num2
print(num3 == 250 * 4)

True

In [31]:
num1 = 5
num2 = 2
num3 = num1 // num2 #integer division
print(num3 == 5 % 3)

True

In [32]:
num1 = -11
num2 = abs(num1)
print(num2 == 11)

True

In [33]:
num1 = 10
num2 = 5
num3 = pow(num1, num2)
print(num3 == 100000)

True

In [34]:
result = ((25 % 7 + 10 / 2) % 3 == 0) and ((abs(-19) / 2 - 2) > 9)
print(result)

False

In [35]:
result = (min(pow(2, abs(3)), 9) == 3 ** 2 - 1) or (66 % 20 + 2 > 2 ** 3)
print(result)

True

In [36]:
result = bool(150 % (10 ** 2 / 2))
print(result)

False

## Exercises Lists

In [37]:
my_list = [10, 10.5, 20, 30, "Python", "Java", "Ruby"]
char = len(my_list)
print(char)

7

In [38]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_list.pop(5)
print(my_list)

[10, 10.5, 20, 30, 'Python', 'Ruby']

In [39]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_list.append('C++')
print(my_list)

[10, 10.5, 20, 30, 'Python', 'Java', 'Ruby', 'C++']

In [40]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_list.remove(30)
print(my_list)

[10, 10.5, 20, 'Python', 'Java', 'Ruby']

In [41]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
index = my_list.index(10.5)
print(index)

1

In [42]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_list.insert(4, 77)
print(my_list)

[10, 10.5, 20, 30, 77, 'Python', 'Java', 'Ruby']

In [43]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_list.extend([100, 101, 102])
print(my_list)

[10, 10.5, 20, 30, 'Python', 'Java', 'Ruby', 100, 101, 102]

In [44]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby', 20]
howmany = my_list.count(20)
print(howmany)

2

In [45]:
my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]
asc = sorted(my_list)
print(asc)

[10, 10.5, 11.01, 19.25, 20, 25.6, 29.99, 30]

In [46]:
my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]
asc = sorted(my_list, reverse = True)
print(asc)

[30, 29.99, 25.6, 20, 19.25, 11.01, 10.5, 10]

In [47]:
my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]
small = min(my_list)
print(small)

10

In [48]:
my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]
large = max(my_list)
print(large)

30

In [49]:
my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]
add = sum(my_list)
print(add)

156.35

In [50]:
my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]
my_list.clear()
print(my_list)

[]

In [51]:
my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]
add = (my_list + [30.01, 30.02, 30.03]) * 2
print(add)

[10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99, 30.01, 30.02, 30.03, 10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99, 30.01, 30.02, 30.03]

In [52]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
element = my_list[2]
print(element)

20

In [53]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
element = my_list[-2]
print(element)

Java

In [54]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_slice = my_list[3:6]
print(my_slice)

[30, 'Python', 'Java']

In [55]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_slice = my_list[-4:-1]
print(my_slice)

[30, 'Python', 'Java']

In [56]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_slice = my_list[3:]
print(my_slice)

[30, 'Python', 'Java', 'Ruby']

In [57]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_slice = my_list[:-4]
print(my_slice)

[10, 10.5, 20]

In [58]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_slice = my_list[-4:]
print(my_slice)

[30, 'Python', 'Java', 'Ruby']

In [59]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_slice = my_list[:5]
print(my_slice)

[10, 10.5, 20, 30, 'Python']

In [60]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_slice = my_list[::3]
print(my_slice)

[10, 30, 'Ruby']

In [61]:
my_list = [10, 10.5, 20, 30, 'Python', 'Java', 'Ruby']
my_slice = my_list[::-4]
print(my_slice)

['Ruby', 20]

In [62]:
my_list = [1, 2, 3, 4, 4, 5, 2, 9, 8, 8, 4, 3]
my_set = set(my_list)
print(type(my_set))

<class 'set'>

In [63]:
my_list = [1, 2, 3, 4, 4, 5, 2, 9, 8, 8, 4, 3]
my_set = frozenset(my_list)
print(type(my_set))

<class 'frozenset'>

## Exercises Sets

In [64]:
my_set = {1, 4, 6, 5, 9, 0, 8, 3, 2, 7, 11}
check = 10 in my_set
print(check)

False

In [65]:
my_set = {1, 4, 6, 5, 9, 0, 8, 3, 2, 7, 11}
my_set.add(19)
print(my_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 19}

In [66]:
my_set = {1, 4, 6, 5, 9, 0, 8, 3, 2, 7, 11}
my_set.remove(9)
print(my_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 11}

In [67]:
my_set1 = {1, 4, 6, 5, 9, 0, 8, 3, 2, 7, 11}
my_set2 = {12, 9, 4, 2, 0, 6}
common = my_set1.intersection(my_set2)
print(sorted(list(common)))

[0, 2, 4, 6, 9]

In [68]:
my_set1 = {1, 4, 6, 5, 9, 0, 8, 3, 2, 7, 11}
my_set2 = {12, 9, 4, 2, 0, 6}
join = my_set1.union(my_set2)
print(sorted(list(join)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12]

In [69]:
my_set1 = {1, 4, 6, 5, 9, 0, 8, 3, 2, 7, 11}
my_set2 = {12, 9, 4, 2, 0, 6}
diff = my_set2.difference(my_set1)
print(sorted(list(diff)))

[12]

## Exercises Tuples

In [70]:
my_tup = ("Romania", "Poland", "Estonia", "Bulgaria", "Slovakia", "Slovenia", "Hungary")
number = len(my_tup)
print(number)

7

In [71]:
my_tup = ("Romania", "Poland", "Estonia", "Bulgaria", "Slovakia", "Slovenia", "Hungary")
index = my_tup.index("Slovakia")
print(index)

4

In [72]:
my_tup = ("Romania", "Poland", "Estonia")
(ro, po, es) = my_tup
print(ro + ", " + po + ", " + es)

Romania, Poland, Estonia

In [73]:
my_tup = ("Romania", "Poland", "Estonia", "Bulgaria", "Slovakia", "Slovenia", "Hungary")
last = max(my_tup)
print(last)

Slovenia

In [74]:
my_tup = ("Romania", "Poland", "Estonia", "Bulgaria", "Slovakia", "Slovenia", "Estonia", "Romania", "Hungary", "Slovenia")
number = my_tup.count("Estonia")
print(number)

2

In [75]:
my_tup = ("Romania", "Poland", "Estonia", "Bulgaria", "Slovakia", "Slovenia", "Hungary")
my_slice = my_tup[-5:]
print(my_slice)

('Estonia', 'Bulgaria', 'Slovakia', 'Slovenia', 'Hungary')

In [76]:
my_tup = ("Romania", "Poland", "Estonia", "Bulgaria", "Slovakia", "Slovenia", "Hungary")
my_slice = my_tup[:-3]
print(my_slice)

('Romania', 'Poland', 'Estonia', 'Bulgaria')

In [77]:
my_tup = ("Romania", "Poland", "Estonia", "Bulgaria", "Slovakia", "Slovenia", "Hungary")
my_slice = my_tup[3:]
print(my_slice)

('Bulgaria', 'Slovakia', 'Slovenia', 'Hungary')

In [78]:
my_tup = ("Romania", "Poland", "Estonia", "Bulgaria", "Slovakia", "Slovenia", "Hungary")
my_slice = my_tup[:5]
print(my_slice)

('Romania', 'Poland', 'Estonia', 'Bulgaria', 'Slovakia')

## Exercises Range

In [79]:
my_range = range(10)
print(list(my_range))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
my_range = range(0, 10)
print(list(my_range))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
my_range = range(117, 129)
print(list(my_range))

[117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128]

In [82]:
my_range = range(10, 20, 3)
print(list(my_range))

[10, 13, 16, 19]

In [83]:
my_range = range(115, 125, 5)
print(list(my_range))

[115, 120]

In [84]:
my_range = range(-75, -25, 15)
print(list(my_range))

[-75, -60, -45, -30]

In [85]:
my_range = range(-25, 139, 30)
print(list(my_range))

[-25, 5, 35, 65, 95, 125]

In [86]:
y_range = range(-10,-9)
print(list(my_range))

[-25, 5, 35, 65, 95, 125]

## Exercises Dicts

In [87]:
crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
value = crypto[4]
print(value)

Stellar

In [88]:
crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
value = crypto.get(4)
print(value)

Stellar

In [89]:
crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
crypto[4] = "Cardano"
print(crypto[4])

Cardano

In [90]:
crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
crypto[6] = "Monero" 
print(crypto[6])

Monero

In [91]:
crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
number = len(crypto)
print(number)

5

In [92]:
crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
del crypto[3]
print(crypto)

{1: 'Bitcoin', 2: 'Ethereum', 4: 'Stellar', 5: 'XRP'}

In [93]:
crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
crypto.pop(3)
print(crypto)

{1: 'Bitcoin', 2: 'Ethereum', 4: 'Stellar', 5: 'XRP'}

In [94]:
crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
check = 7 not in crypto
print(check)

True

In [95]:
crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
crypto.clear()
print(crypto)

{}

In [96]:
crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
result = crypto.items()
print(list(result))

[(1, 'Bitcoin'), (2, 'Ethereum'), (3, 'Litecoin'), (4, 'Stellar'), (5, 'XRP')]

In [97]:
crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
add = sum(crypto)
print(add)

15

In [98]:
crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
val = crypto.values()
print(list(val))

['Bitcoin', 'Ethereum', 'Litecoin', 'Stellar', 'XRP']

In [99]:
crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
key = min(crypto)
print(key)

1

In [100]:
crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
keys = crypto.keys()
print(list(keys))

[1, 2, 3, 4, 5]

In [101]:
crypto = {1: "Bitcoin", 2: "Ethereum", 3: "Litecoin", 4: "Stellar", 5: "XRP"}
crypto.popitem()
print(len(crypto))

4

## Exercises Type

In [102]:
value = 10
conv = str(value)
print(type(conv))

<class 'str'>

In [103]:
value = "10"
conv = int(value)
print(type(conv))

<class 'int'>

In [104]:
value = 10
conv = float(value)
print(type(conv))

<class 'float'>

In [105]:
value = "Hello!"
conv = list(value)
print(type(conv))

<class 'list'>

In [106]:
value = [1, 2, 3, 10, 20, 30]
conv = tuple(value)
print(type(conv))

<class 'tuple'>

In [107]:
value = (10, 20, 40, 10, 25, 30, 45)
conv = frozenset(value)
print(type(conv))

<class 'frozenset'>

## Exercises Convert

In [108]:
value = 10
conv = bin(value)
print(conv)

0b1010

In [109]:
value = 10
conv = hex(10)
print(conv)

0xa

In [110]:
value = '0b1010'
conv = int(value, 2)
print(conv)

10

In [111]:
value = '0xa'
conv = int(value, 16)
print(conv)

10

## Exercises If

In [112]:
x = "The days of Python 2 are almost over. Python 3 is the king now."
if len(x) >= 50:
    print("True!")

True!

In [113]:
x = "The days of Python 2 are almost over. Python 3 is the king now."
if type(x) is str and x.startswith("T"):
    print("True!")

True!

In [114]:
x = "The days of Python 2 are almost over. Python 3 is the king now."
if "z" in x or x.count("y") >= 2:
    print("True!")

True!

## Exercises If, Else

In [115]:
x = "The days of Python 2 are almost over. Python 3 is the king now."
if x.index("f") < 10:
    print("True!")
else:
    print("False!")

False!

In [116]:
x = "The days of Python 2 are almost over. Python 3 is the king now."
if x[-3:].isdigit():
    print("True!")
else:
    print("False!")

False!

In [117]:
x = [115, 115.9, 116.01, ["length", "width", "height"], 109, 115, 119.5, ["length", "width", "height"]]
if len(x) >= 8 and type(x[6]) is float:
    print("True!")
else:
    print("False!")

True!

In [118]:
x = [115, 115.9, 116.01, ["length", "width", "height"], 109, 115, 119.5, ["length", "width", "height"]]
if x[3][1].endswith("h") and x[7][0].endswith("h"):
    print("True!")
else:
    print("False!")

True!

In [119]:
x = [115, 115.9, 116.01, ["length", "width", "height"], 109, 115, 119.5, ["length", "width", "height"]]
if x[3][2].endswith("h") or x[7][1].endswith("h"):
    print("True!")
else:
    print("False!")

True!

In [120]:
x = [115, 115.9, 116.01, 109, 115, 119.5, ["length", "width", "height"]]
if max(x[:3]) <= min(x[3:6]):
    print("True!")
else:
    print("False!")

False!

In [121]:
x = [115, 115.9, 116.01, 109, 115, 119.5, ["length", "width", "height"]]
if x.count(115) >= 1 or x.index(115) == 0:
    print("True!")
else:
    print("False!")

True!

In [122]:
x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}
if x[5] == "Perl" or len(x) % 5 < 2:
    print("True!")
else:
    print("False!")

True!

In [123]:
x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}
if 3 in x and sorted(x.values())[0] == "C#":
    print("True!")
else:
    print("False!")

True!

In [124]:
x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}
if sorted(x.values())[-1][-1] == "n":
    print("True!")
else:
    print("False!")

False!

In [125]:
x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}
if sorted(x.keys())[-1] % sorted(x.keys())[-2] == sorted(x.keys())[0]:
    print("True!")
else:
    print("False!")

True!

In [126]:
x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}
if sum(x) < len(x[1] + x[2] + x[3] + x[4] + x[5]):
    print("True!")
else:
    print("False!")

False!

## Exercises If, Elif, Else

In [127]:
x = [list(range(5)), list(range(5,9)), list(range(1,10,3))]
if x[0][2] < 2:
    print("True!")
elif x[0][4] == 5:
    print("False!")
else:
    print("None!")

None!

In [128]:
x = [list(range(5)), list(range(5,9)), list(range(1,10,3))]
if x[2][2] < 6:
    print("True!")
elif x[1][0] == 5:
    print("False!")
else:
    print("None!")

False!

In [129]:
x = [list(range(5)), list(range(5,9)), list(range(1,10,3))]
if x[0][-1] > 3:
    print("True!")
elif x[1][-1] < 9:
    print("False!")
else:
    print("None!")

True!

In [130]:
x = [list(range(5)), list(range(5,9)), list(range(1,10,3))]
if len(x[0]) >= 5:
    print("True!")
elif len(x[1]) == 4:
    print("False!")
else:
    print("None!")

True!

In [131]:
x = [list(range(5)), list(range(5,9)), list(range(1,10,3))]
if sum(x[0]) > sum(x[2]):
    print("True!")
elif max(x[1]) > max(x[2]):
    print("False!")
else:
    print("None!")

False!

In [132]:
x = [list(range(5)), list(range(5,9)), list(range(1,10,3))]
if max(x[0]) - x[2][1] == x[0][0]:
    print("True!")
elif len(x[0]) - len(x[1]) == x[2][0]:
    print("False!")
elif sum(x[2]) % 2 == 0:
    print("Maybe!")
else:
    print("None!")

True!

In [133]:
x = [list(range(5)), list(range(5,9)), list(range(1,10,3))]
if sum(x[0][-3:]) + sum(x[2][-3:]) == sum(x[1][-3:]):
    print("True!")
elif len(x[0]) * 2 < sum(x[2]):
    print("False!")

True!

In [134]:
x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}
if x[1][1] in x[4]:
    print("True!")
else:
    print("False!")

True!

In [135]:
x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}
if x[3][-2] == x[5][0]:
    print("True!")
else:
    print("False!")

False!

In [136]:
x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}
if len(min(x.values())) == x[3].count("a"):
    print("True!")
else:
    print("False!")

True!

## Exercises For

In [137]:
x = [10, 12, 13, 14, 17, 19, 21, 22, 25]
for i in x:
    print(i)

10
12
13
14
17
19
21
22
25

In [138]:
x = [10, 12, 13, 14, 17, 19, 21, 22, 25]
for i in x:
    print(i % 3)

1
0
1
2
2
1
0
1
1

In [139]:
x = [10, 12, 13, 14, 17, 19, 21, 22, 25]
for i in sorted(x, reverse = True):
	print(i * 10)

250
220
210
190
170
140
130
120
100

In [140]:
x = [10, 12, 13, 14, 17, 19, 21, 22, 25]
for i in x:
    print(i / 2)
else:
    print("Great job!")

5.0
6.0
6.5
7.0
8.5
9.5
10.5
11.0
12.5
Great job!

In [141]:
x = [10, 12, 13, 14, 17, 19, 21, 22, 25]
for i in x:
    print(x.index(i))

0
1
2
3
4
5
6
7
8

## Exercises While

In [142]:
x = 0
while x <= 5:
    print(x ** 2)
    x = x + 1

0
1
4
9
16
25

In [143]:
x = 0
while x <= 4:
    print(x * 10)
    x = x + 1
else:
    print("Done!")

0
10
20
30
40
Done!

In [144]:
x = 10
while x <= 15 and x % 5 == 0:
    print(x + 10)
    x = x + 1

20

In [145]:
x = -7
while x < 0:
    print(abs(x))
    x = x + 1

7
6
5
4
3
2
1

In [146]:
x = 5
y = 2
while x >= 5 and x < 10:
    print(x * y)
    x = x + 1
else:
    print(x / y)

10
12
14
16
18
5.0

## Exercises Diversos

In [147]:
x = [10, 12, 13, 14, 17, 19, 21, 22, 25]
for i in x:
    if i > 20:
        print(i * 10)

210
220
250

In [148]:
x = [2, 4, 6]
y = [5, 10]
for i in x:
    for j in y:
        print(i * j)

10
20
20
40
30
60

In [149]:
x = [2, 4, 6, 8]
y = [5, 10, 15, 20]
for i in x:
    for j in y:
        if j < 12:
            print(i * j)

10
20
20
40
30
60
40
80

In [150]:
x = [2, 4, 6, 8]
y = [5, 10, 15, 20]
for i in x:
    for j in y:
        if i> 5 and j < 12:
            print(i * j)

30
60
40
80

In [151]:
x = [2, 4, 6, 8]
y = [5, 10, 15, 20]
for i in x:
    for j in y:
        if j <= 10:
            print(i * j)
        else:
            print(i * j ** 2)

10
20
450
800
20
40
900
1600
30
60
1350
2400
40
80
1800
3200

In [152]:
x = "cryptocurrency"
y = "blockchain"
for i in x:
    if i in y:
        print(i * 2)

cc
oo
cc
nn
cc

In [153]:
my_range = range(9)
for i in my_range:
    if 3 <= i <= 7:
        print(i * my_range[1])

3
4
5
6
7

In [154]:
for i in range(1,11,2):
    if 3 <= i <= 8:
        print(i * range(1,11,2)[-1])
    else:
        print("Outside!")

Outside!
27
45
63
Outside!

In [155]:
for i in range(5,25,5):
    if 10 <= i <= 21:
        print(i * range(5,25,5)[-2])
    else:
        print("Outside!")
else:
    print("The end!")

Outside!
150
225
300
The end!

In [156]:
x = 5
while x <= 11:
    if x == 10:
        print("x is 10!")
        x = x + 1
    else:
        print(x * 11)
        x = x + 1

55
66
77
88
99
x is 10!
121

In [157]:
x = [1, 2]
y = [10, 100]
for i in x:
    for j in y:
        if i % 2 == 0:
            print(i * j)
            break
        print(i)
    print(j)

1
1
100
20
10

In [158]:
x = [1, 2]
y = [10, 100]
for i in x:
    for j in y:
        if i % 2 == 0:
            print(i * j)
        print(i)
        break
    print(j)

1
10
20
2
10

In [159]:
x = [1, 2]
y = [10, 100]
for i in x:
    for j in y:
        if i % 2 == 0:
            break
            print(i * j)
        print(i)
    print(j)

1
1
100
10

In [160]:
x = [1, 2]
y = [10, 100]
for i in x:
    for j in y:
        if i % 2 == 0:
            print(i * j)
            continue
        print(i)
    print(j)

1
1
100
20
200
100

In [161]:
x = [1, 2]
y = [10, 100]
for i in x:
    for j in y:
        if i % 2 == 0:
            continue
            print(i * j)
        print(i)
    print(j)

1
1
100
100

In [162]:
x = [1, 2]
y = [10, 100]
for i in x:
    for j in y:
        if i % 2 == 0:
            print(i * j)

20
200

In [163]:
x = [1, 2]
y = [10, 100]
for i in x:
    for j in y:
        if i % 2 == 0:
            print(x[1] * y[1])

200
200

## Exercises Try

In [164]:
try:
    print(25 % 0)
except ZeroDivisionError:
    print("Zero!")

Zero!

In [165]:
try:
    print(25 % 5 ** 5 + 5)
except:
    print("Bug!")
else:
    print("Clean!")

30
Clean!

In [166]:
try:
    print(25 % 0 ** 5 + 5)
except:
    print("Bug!")
finally:
    print("Result!")

Bug!
Result!

In [167]:
x = [1, 9, 17, 32]
try:
    print(x[3] % 3 ** 5 + x[4])
except ZeroDivisionError:
    print("Zero!")
except IndexError:
    print("Index!")

Index!

In [168]:
try:
    print(25 % 5 ** 5 + 5)
except ZeroDivisionError:
    print("Zero!")
else:
    print("Clean!")
finally:
    print("Finish!")

30
Clean!
Finish!

## Exercises Def

In [169]:
def my_func():
    print("Hello Python!")
    
my_func()

Hello Python!

In [170]:
def my_func():
    add = 10 + 20
    print(add)
    
my_func()

30

In [171]:
def my_func(x):
    return x * 10

result = my_func(7)
print(result)

70

In [172]:
def my_func(x, y):
    return x / y

result = my_func(38,19)
print(result)

2.0

In [173]:
def my_func(x,y,z):
    return x ** y + z

result = my_func(3,3,3)
print(result)

30

In [174]:
def my_func(x):
    my_new_list = []
    for i in range(5):
        my_new_list.append(i * x)
    return my_new_list

result = my_func(2)
print(result)

[0, 2, 4, 6, 8]

In [175]:
def my_func(x):
    return x.upper()

result = my_func("Satoshi Nakamoto")
print(result)

SATOSHI NAKAMOTO

In [176]:
def my_func(x):
    return list(set(x))

result = my_func([11, 12, 13, 11, 15, 18, 18, 22, 20, 16, 12])
print(result)

[11, 12, 13, 15, 16, 18, 20, 22]

In [177]:
def my_func(x):
    my_new_list = []
    for i in x:
        if i > 4:
            my_new_list.append(i ** 2)
    return my_new_list

result = my_func((2, 3, 5, 6, 4, 8, 9))
print(result)

[25, 36, 64, 81]

In [178]:
def my_func(x):
    return len(x) * sorted(x.keys())[-1]

result = my_func({1: 3, 2: 3, 4: 5, 5: 9, 6: 8, 3: 7, 7: 0})
print(result)

49

In [179]:
def my_func(x, y = 10):
    return x * y

result = my_func(5)
print(result)

50

In [180]:
def my_func(x, y = 100, z = 200):
    return x + y + z

result = my_func(50)
print(result)

350

In [181]:
def my_func(x, y):
    return x[y]

result = my_func(list(range(2,25,2)), 4)
print(result)

10

In [182]:
def my_func(x, *args):
    return x * args[1]

result = my_func(5, 10, 20, 30, 50)
print(result)

100

In [183]:
def my_func(x, **kwargs):
    return x * sorted(kwargs.values())[-1]

result = my_func(10, val1 = 10, val2 = 15, val3 = 20, val4 = 25, val5 = 30)
print(result)

300

In [184]:
var = 10
def my_func(x):
	print(x * var)
	
my_func(20)

200

In [185]:
var = 10
def my_func(x):
    var = 5
    print(x * var)
	
my_func(20)

100

In [186]:
def my_func(x):
    var = 12
    print(x * var)
	
my_func(10)

120

In [187]:
var = 8
def my_func(x):
    global var
    print(x * var)
    var = 12
	
my_func(10)

80

## Exercises Import

In [188]:
from math import pi

print("%.4f" % pi)

3.1416

## Exercises Open

In [189]:
f = open("test.txt", "r")
print(f.read())

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'

In [190]:
f = open("test.txt", "r")
print(f.readlines())

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'

In [191]:
f = open("test.txt", "r")
f.read()
f.seek(0)
print(f.read())

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'

In [192]:
f = open("test.txt", "r")
f.read(5)
print(f.tell())

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'

In [193]:
f = open("test.txt", "r")
f.read(5)
print(f.mode)

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'

In [194]:
f = open("test.txt", "a+")
print(f.mode)

a+

In [195]:
f = open("test.txt", "w")
f.write("python")
f.close()
f = open("test.txt", "r")
print(f.read())

python

In [196]:
f = open("test.txt", "w")
f.writelines(['python', ' ', 'and', ' ', 'java'])
f.close()
f = open("test.txt", "r")
print(f.read())

python and java

In [197]:
with open("test.txt", "w") as f:
    f.write("python")

f = open("test.txt", "r")
print(f.read())

python

In [198]:
with open("test.txt", "w") as f:
    f.write("python")

f = open("test.txt", "r+")
f.truncate()

f = open("test.txt", "r")
print(f.read())

## Exercises Biblioteca re

In [199]:
import re

s = "Bitcoin was born on Jan 3rd 2009 as an alternative to the failure of the current financial system. In 2017, the price of 1 BTC reached $20000, with a market cap of over $300B."

In [200]:
result = re.match("Bitcoin", s)
print(result.group())

Bitcoin

In [201]:
result = re.match("Bitcoin", s, re.I)
print(result.group())

Bitcoin

In [202]:
result = re.match(r"B.{6} .{3}", s)
print(result.group())

Bitcoin was

In [203]:
result = re.search(r"(\d{4})\s", s)
print(result.group(1))

2009

In [204]:
result = re.search(r"(\d{4}),", s)
print(result.group(1))

2017

In [205]:
result = re.search(r"(.{3}\s\d\w\w\s\d{4})\s", s)
print(result.group(1))

Jan 3rd 2009

In [206]:
result = re.search(r"([A-Z]{3})", s)
print(result.group(1))

BTC

In [207]:
result = re.search(r"([0-9]\s[A-Z]{3})", s)
print(result.group(1))

1 BTC

In [208]:
result = re.search(r"(\$\d{5}),", s)
print(result.group(1))

$20000

In [209]:
result = re.search(r"(\$\d{3}[A-Z])\.", s)
print(result.group(1))

$300B

In [210]:
result = re.search(r"\s(.{6} .{3} .{2})\s", s)
print(result.group(1))

market cap of

In [211]:
result = re.search(r"\$(\d{3},[0-9]{3},\d{3},[0-9]{3}),", s)
print(result.group(1))

AttributeError: 'NoneType' object has no attribute 'group'

In [212]:
result = re.search(r"\$(\d{1,3},\d{1,3}\.\d{1,3}),", s)
print(result.group(1))

AttributeError: 'NoneType' object has no attribute 'group'

In [213]:
result = re.search(r"\s([0-9]{2},[0-9]{3},[0-9]{3}\s.{3}),", s)
print(result.group(1))

AttributeError: 'NoneType' object has no attribute 'group'

In [214]:
result = re.search(r"\s(.{4}\s\d\.\d\d%)", s)
print(result.group(1))

AttributeError: 'NoneType' object has no attribute 'group'

In [215]:
result = re.search(r"\.\d\d, (.{1,}:\s\$\d{2,},\d{2,},\d{2,},\d{2,}), ", s)
print(result.group(1))

AttributeError: 'NoneType' object has no attribute 'group'

In [216]:
result = re.search(r"(\w+ \w+: \d{2}.+? [A-Z]{3}), ", s)
print(result.group(1))

AttributeError: 'NoneType' object has no attribute 'group'

In [217]:
result = re.search(r",([0-9]{3}\.[0-9]{2},\s.)", s)
print(result.group(1))

AttributeError: 'NoneType' object has no attribute 'group'

In [218]:
result = re.findall(r"\s(\d{4})", s)
print(result)

['2009', '2017']

In [219]:
result = re.findall(r"\d{1,}", s)
print(result)

['3', '2009', '2017', '1', '20000', '300']

In [220]:
result = re.findall(r"\s(\w{3})\s", s)
print(result)

['was', 'Jan', 'the', 'the', 'the', 'BTC', 'cap']

In [221]:
result = re.findall(r"([A-Z]{1}.+?)\s", s)
print(result)

['Bitcoin', 'Jan', 'In', 'BTC']

In [222]:
result = re.findall(r"\s(o.{1})\s", s)
print(result)

['on', 'of', 'of', 'of']

In [223]:
result = re.findall(r"\w{8,}", s)
print(result)

['alternative', 'financial']

In [224]:
result = re.findall(r"\s([ac]\w{2,})\s", s)
print(result)

['alternative', 'current', 'cap']

In [225]:
result = re.sub(r"\s\d{4}", " XXXX", s)
print(result)

Bitcoin was born on Jan 3rd XXXX as an alternative to the failure of the current financial system. In XXXX, the price of 1 BTC reached $20000, with a market cap of over $300B.

In [226]:
result = re.sub(r"\d{1,},*\d*\.\d{1,}", ".", s)
print(result)

Bitcoin was born on Jan 3rd 2009 as an alternative to the failure of the current financial system. In 2017, the price of 1 BTC reached $20000, with a market cap of over $300B.

In [227]:
result = re.sub(r"[A-Z]{3}", "Bitcoin", s)
print(result)

Bitcoin was born on Jan 3rd 2009 as an alternative to the failure of the current financial system. In 2017, the price of 1 Bitcoin reached $20000, with a market cap of over $300B.

In [228]:
result = re.sub(r"[0-5]", "8", s)
print(result)

Bitcoin was born on Jan 8rd 8889 as an alternative to the failure of the current financial system. In 8887, the price of 8 BTC reached $88888, with a market cap of over $888B.

In [229]:
result = re.sub(r"[A-Z]\w{1,}|[6-9]", "W", s)
print(result)

W was born on W 3rd 200W as an alternative to the failure of the current financial system. W 201W, the price of 1 W reached $20000, with a market cap of over $300B.

## Exercises Class

In [230]:
class ClassOne(object):
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    
    def square(self, p3):
        print(p3 ** 2)

p = ClassOne(1, 2)
print(type(p))

<class '__main__.ClassOne'>

In [231]:
class ClassOne(object):
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    
    def square(self, p3):
        print(p3 ** 2)

p = ClassOne(1, 2)
print(p.p1)

1

In [232]:
class ClassOne(object):
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    
    def square(self, p3):
        print(p3 ** 2)

p = ClassOne(1, 2)
p.square(10)

100

In [233]:
class ClassOne(object):
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    
    def square(self, p3):
        print(p3 ** 2)

p = ClassOne(1, 2)
p.p2 = 5
print(p.p2)

5

In [234]:
class ClassOne(object):
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    
    def square(self, p3):
        print(p3 ** 2)

p = ClassOne(1, 2)
setattr(p, 'p2', 50)
print(getattr(p, 'p2'))

50

In [235]:
class ClassOne(object):
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    
    def square(self, p3):
        print(p3 ** 2)

p = ClassOne(1, 2)
print(hasattr(p, 'p2'))

True

In [236]:
class ClassOne(object):
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    
    def square(self, p3):
        print(p3 ** 2)

p = ClassOne(1, 2)
print(isinstance(p, ClassOne))

True

In [237]:
class ClassOne(object):
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    
    def square(self, p3):
        print(p3 ** 2)

class ClassTwo(ClassOne):
    def times10(self, x):
        print(x * 10)
        
y = ClassTwo(10, 20)
print(y.p1)

10

In [238]:
class ClassOne(object):
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    
    def square(self, p3):
        print(p3 ** 2)

class ClassTwo(ClassOne):
    def times10(self, x):
        return x * 10
        
obj = ClassTwo(15, 25)
print(obj.times10(45))

450

In [239]:
class ClassOne(object):
    def __init__(self, p1, p2):
        self.p1 = p1
        self.p2 = p2
    
    def square(self, p3):
        print(p3 ** 2)

class ClassTwo(ClassOne):
    def times10(self, x):
        return x * 10
        
print(issubclass(ClassTwo, ClassOne))

True

## Exercises ...

In [240]:
cph = [i for i in range(1, 5)]
print(cph)

[1, 2, 3, 4]

In [241]:
cph = [i ** 2 for i in range(1, 15, 5)]
print(cph)

[1, 36, 121]

In [242]:
cph = [i ** 2 for i in range(5, 25, 3) if i <= 16]
print(cph)

[25, 64, 121, 196]

In [243]:
cph = {x: x * 3 for x in range(9)}
print(cph)

{0: 0, 1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24}

In [244]:
cph = {x / 2.5 for x in range(10, 19)}
print(cph)

{4.8, 5.2, 4.0, 4.4, 6.0, 5.6, 6.4, 6.8, 7.2}

## Exercises Lambda

In [245]:
lam = lambda x, y: x * y
print(lam(2, 5))

10

In [246]:
lam = lambda list1: [x * y for x in range(1, 5) for y in list1]
print(lam([1, 2]))

[1, 2, 2, 4, 3, 6, 4, 8]

## Exercises Intertools

In [247]:
import itertools

list1 = [1, 2, 3]
list2 = [4, 5]

result = list(itertools.chain(list1, list2))
print(result)

[1, 2, 3, 4, 5]

In [248]:
import itertools

for i in itertools.count(20, 2):
    if i < 31:
        print(i)
    else:
        break

20
22
24
26
28
30

In [249]:
import itertools

lam = lambda x: x < 5
result = list(itertools.filterfalse(lam, range(10)))
print(result)

[5, 6, 7, 8, 9]